* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(Background.gif);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

/* * {
  box-sizing: border-box;
} */

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.wrapper {
  position: absolute;
  left: 590px;
  top: 350px;
  width: 280px;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(169, 78, 249);
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #ae84fa;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: rgb(162, 61, 239);
    }
    50% {
        fill: #0011fd;
    }
    100% {
        fill: rgb(162, 80, 224);
    }
}



#highscorelist {
  position: absolute;
  width: 350px;
  height: 200px;
  font-size: 60px;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(52, 71, 220);
  left: 1100px;
  top: 200px;

}


li {
  font-size: 30px;
  color: #ff0000;
}

li:nth-child(1) {
  list-style-type: none; 
}

#content {
  width: 1488px;
  height: 790px;
  overflow: hidden;
  /* display: none; */
}
/* 
#enemy {
  width: 230px;
  height: 800px;
  position: relative;
  left: 1000px;
  animation: enemy 3s infinite linear;
}
@keyframes enemy {
  0% {
    left: 1000px;
  }
  100% {
    left: -800px;
  }
}

#portal {
  width: 230px;
  height: 300px;
  position: absolute;
  left: 1300px;
  top: 10px;
  animation: portal 3s infinite linear;
}
@keyframes portal {
  0% {
    left: 1500px;
  }
  100% {
    left: -800px;
  }
} */

#wall {
  width: 100px;
  height: 800px;
  background-image: url(spikes.png);
  position: relative;
  left: 400px;
  animation: wall 4s infinite linear;
}
@keyframes wall {
  0% {
    left: 1500px;
  }
  100% {
    left: -800px;
  }
}

#hole {
  width: 100px;
  height: 240px;
  position: absolute;
  left: 400px;
  top: 100px;
  animation: hole 4s infinite linear;
}
@keyframes hole {
  0% {
    left: 1500px;
  }
  100% {
    left: -800px;
  }
}

#port {
  object-fit: contain;
  height: 130%;
  width: 130%;
}

#player {
  width: 50px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 100px;
}

#me {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
